<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--coneccion local-->
    <!--<add name="HistorialesConnectionString" connectionString="Data Source=DESKTOP-KJOMT5G;Initial Catalog=Historiales;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    <!--coneccion a la pagina web-->
    <add name="HistorialesConnectionString" connectionString="workstation id=DBHistMedic.mssql.somee.com;packet size=4096;user id=sisinfoproyh2018_SQLLogin_1;pwd=zks5rn6tqx;data source=DBHistMedic.mssql.somee.com;persist security info=False;initial catalog=DBHistMedic" providerName="System.Data.SqlClient" />
    <add name="DBHistMedicEntities" connectionString="metadata=res://*/App_Code.Model.csdl|res://*/App_Code.Model.ssdl|res://*/App_Code.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBHistMedic.mssql.somee.com;initial catalog=DBHistMedic;persist security info=False;user id=sisinfoproyh2018_SQLLogin_1;password=zks5rn6tqx;packet size=4096;workstation id=DBHistMedic.mssql.somee.com;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
<!--ProjectGuid: {4a61d874-a6dd-4d72-8edd-de82778edfe3}-->