<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--coneccion local-->
    <!--<add name="HistorialesConnectionString" connectionString="Data Source=DESKTOP-KJOMT5G;Initial Catalog=Historiales;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    <!--coneccion a la pagina web-->
    <add name="HistorialesConnectionString" connectionString="workstation id=DBHistoriales.mssql.somee.com;packet size=4096;user id=sisinfo2018_SQLLogin_3;pwd=mgy2hmsxp9;data source=DBHistoriales.mssql.somee.com;persist security info=False;initial catalog=DBHistoriales" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>
<!--ProjectGuid: {4a61d874-a6dd-4d72-8edd-de82778edfe3}-->