<!DOCTYPE html>
<html>
<html lang="en">
<meta charset="utf-8">
<title>Dots and Boxes</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style="background-color:#E6C231">
	<div class="container">
		<h1>Cuadrados y Lineas</h1>
		<div class="row">
			<div class="col-md">
				<div id="playing-area"></div>
			</div>
			<div class="col-md">
				<div class="form-group">
				<p>Dimensiones del Juego:</p>
				<div class="input-group">
				<div class="input-group-prepend">
				<span class="ui green input-group-text">Filas y Columnas</span>
				</div>
						<input type="number" class="form-control" id="nb-rows" value=6 min=1>
						<input type="number" class="form-control" id="nb-cols" value=6 min=1>
					</div>
				<br>
				
				
				<button type="button" class="ui green button btn btn-secondary" id="restart-btn">Iniciar Juego</button>
				</div>
			</div>
		</div>
		
	</div>
	<script src="https://d3js.org/d3.v4.min.js"></script>
    


    
    
    
</body>
</html>